/*remove scrollbar*/
:root {
    scrollbar-width: none !important
}

html {
    height: 100% !important;
}

body {
    min-height: 100% !important;
}

main {
    min-height: 100vh !important;
}

/* dirty hack as bulma doesn't support colors for tabs */
.tabs.is-toggle li.is-active a {
    background-color: #2793da !important;
    border-color: #2793da !important;
}